[tool.poetry]
name = "zetascale"
version = "0.8.9"
description = "Transformers at zeta scales"
authors = ["Zeta Team <kye@apac.ai>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/kyegomez/zeta"
keywords = ["Transformers", "zeta scale"]
classifiers = [
    "Programming Language :: Python :: 3",
]
packages = [
    { include = "zeta" },
    { include = "zeta/**/*.py" },
]

[tool.poetry.dependencies]
python = "^3.8"
torch = "*"
fairscale = "*"
timm = "*"
torchdiffeq = "*"
pytest = "*"
einops = "*"
bitsandbytes = "*"
typing = "*"
transformers = "*"
einops-exts = "*"
torchvision = "*"
accelerate = "*"
datasets = "*"
lion-pytorch = "*"
sentencepiece = "*"
colt5-attention = "0.10.18"
vector-quantize-pytorch = "1.11.7"
tokenmonster = "*"
scipy = "*"
beartype = "*"
tiktoken = "*"
tqdm = "*"
rich = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.group.lint.dependencies]
ruff = "^0.0.249"
types-toml = "^0.10.8.1"
types-redis = "^4.3.21.6"
types-pytz = "^2023.3.0.0"
black = "^23.1.0"
types-chardet = "^5.0.4.6"
mypy-protobuf = "^3.0.0"


[tool.autopep8]
max_line_length = 80
ignore = "E501,W6"  # or ["E501", "W6"]
in-place = true
recursive = true
aggressive = 3

[tool.ruff]
line-length = 80

[tool.black]
line-length = 80
target-version = ['py38']
preview = true


