[tool.poetry]
name = "zetascale"
version = "2.2.6"
description = "Transformers at zeta scales"
authors = ["Zeta Team <kye@apac.ai>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/kyegomez/zeta"
keywords = ["Transformers", "zeta scale"]
classifiers = [
    "Programming Language :: Python :: 3",
]
packages = [
    { include = "zeta" },
    { include = "zeta/**/*.py" },
]

[tool.poetry.dependencies]
python = "^3.8"
torch = "2.2.0"
timm = "0.9.16"
torchdiffeq = "0.2.3"
pytest = "8.1.1"
torchfix = "*"
einops = "0.7.0"
bitsandbytes = "0.42.0"
typing = "3.7.4.3"
transformers = "4.38.2"
einops-exts = "0.0.4"
torchvision = "0.17.0"
accelerate = "0.27.2"
datasets = "*"
lion-pytorch = "0.1.2"
loguru = "*"
sentencepiece = "0.2.0"
vector-quantize-pytorch = "1.14.1"
tokenmonster = "1.1.12"
scipy = "1.9.3"
beartype = "0.17.2"
tiktoken = "0.6.0"
tqdm = "4.66.2"
rich = "13.7.0"
colt5-attention = "*"
argparse = "^1.4.0"
skypilot = "0.4.1"
numexpr = "*"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"


[tool.poetry.group.lint.dependencies]
ruff = ">=0.0.249,<0.3.3"
types-toml = "^0.10.8.1"
types-redis = "^4.3.21.6"
types-pytz = ">=2023.3,<2025.0"
black = "^23.1.0"
types-chardet = "^5.0.4.6"
mypy-protobuf = "^3.0.0"
pytest = "8.1.1"


[tool.ruff]
line-length = 80

[tool.black]
line-length = 80
target-version = ['py38']
preview = true


[tool.poetry.scripts]
zeta = 'zeta.cli.main:main'


