[tool.poetry]
name = "zetascale"
version = "1.8.6"
description = "Transformers at zeta scales"
authors = ["Zeta Team <kye@apac.ai>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/kyegomez/zeta"
keywords = ["Transformers", "zeta scale"]
classifiers = [
    "Programming Language :: Python :: 3",
]
packages = [
    { include = "zeta" },
    { include = "zeta/**/*.py" },
]

[tool.poetry.dependencies]
python = "^3.8"
torch = "2.1.2"
timm = "0.9.12"
torchdiffeq = "0.2.3"
pytest = "7.4.2"
einops = "0.7.0"
tensorflow = "*"
bitsandbytes = "0.41.3.post2"
typing = "3.7.4.3"
transformers = "4.36.2"
einops-exts = "0.0.4"
torchvision = "*"
accelerate = "0.25.0"
datasets = "*"
lion-pytorch = "0.0.7"
jax = "*"
jaxlib = "*"
sentencepiece = "0.1.99"
colt5-attention = "0.10.19"
vector-quantize-pytorch = "1.12.11"
tokenmonster = "1.1.12"
scipy = "1.9.3"
beartype = "0.16.4"
tiktoken = "0.5.2"
tqdm = "4.66.1"
rich = "13.7.0"
argparse = "^1.4.0"
skypilot = "0.4.1"
numexpr = "*"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.group.lint.dependencies]
ruff = ">=0.0.249,<0.1.10"
types-toml = "^0.10.8.1"
types-redis = "^4.3.21.6"
types-pytz = "^2023.3.0.0"
black = "^23.1.0"
types-chardet = "^5.0.4.6"
mypy-protobuf = "^3.0.0"


[tool.autopep8]
max_line_length = 80
ignore = "E501,W6"  # or ["E501", "W6"]
in-place = true
recursive = true
aggressive = 3

[tool.ruff]
line-length = 80

[tool.black]
line-length = 80
target-version = ['py38']
preview = true


[tool.poetry.scripts]
zeta = 'zeta.cli.main:main'


