torch
fairscale

timm
einops
apex

memory-profiler
triton
lion-pytorch

bitsandbytes
typing
einops-exts 

torchvision

tokenmonster
accelerate 
datasets 
lion-pytorch 
sentencepiece
beartype
xformers
pickle
vector-quantize-pytorch
scipy
rich
tiktoken
autopep8
transformers
tqdm

mkdocs
mkdocs-material
mkdocs-glightbox
