torch==2.1.1
fairscale==0.4.0
timm==0.6.13
einops==0.7.0
memory-profiler
lion-pytorch==0.0.7
bitsandbytes==0.38.1
typing==3.7.4.3
einops-exts==0.0.4
torchvision==0.16.1
tokenmonster==1.1.12
accelerate
datasets==2.10.1
torchdiffeq==0.2.3
sentencepiece==0.1.98
beartype==0.15.0
xformers
vector-quantize-pytorch==1.12.0
scipy==1.9.3
rich==13.5.2
tiktoken==0.4.0
autopep8
transformers==4.35.0
tqdm==4.66.1
mkdocs
mkdocs-material
mkdocs-glightbox
skypilot==0.4.1
argparse