torch
fairscale

timm
einops
apex

memory-profiler
triton
lion-pytorch

bitsandbytes
typing
einops-exts 

torchvision

tokenmonster
accelerate 
datasets 
lion-pytorch 
sentencepiece
beartype
xformers

vector-quantize-pytorch>=1.1.5
scipy
tiktoken

autopep8


mkdocs
mkdocs-material
mkdocs-glightbox
